<?xml version="1.0"?>
<config>
    <modules>
        <Versedi_NewCustomerCoupon>
            <version>1.0.0</version>
        </Versedi_NewCustomerCoupon>
    </modules>
    <global>
        <resources>
            <versedi_newcustomercoupon_setup>
                <setup>
                    <module>Versedi_NewCustomerCoupon</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </versedi_newcustomercoupon_setup>
        </resources>
        <models>
            <versedi_newcustomercoupon>
                <class>Versedi_NewCustomerCoupon_Model</class>
            </versedi_newcustomercoupon>
        </models>
        <helpers>
            <versedi_newcustomercoupon>
                <class>Versedi_NewCustomerCoupon_Helper</class>
            </versedi_newcustomercoupon>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <versedi_newcustomercoupon_customer_placed_order>
                        <class>Versedi_NewCustomerCoupon_Model_Observer</class>
                        <type>singleton</type>
                        <method>orderPlaced</method>
                    </versedi_newcustomercoupon_customer_placed_order>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <salesrule_rule_condition_combine> <!-- Add condition to existing conditions that will check customer's attribute -->
                <observers>
                    <versedi_newcustomercoupon_salesrule_rule_condition_combine>
                        <type>model</type>
                        <class>Versedi_NewCustomerCoupon_Model_Observer</class>
                        <method>addCustomerCondition</method>
                    </versedi_newcustomercoupon_salesrule_rule_condition_combine>
                </observers>
            </salesrule_rule_condition_combine>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <versedi_newcustomercoupon_customer_register_success>
                        <class>Versedi_NewCustomerCoupon_Model_Observer</class>
                        <type>singleton</type>
                        <method>customerRegistered</method>
                    </versedi_newcustomercoupon_customer_register_success>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
</config>